<h1>Welcome to {{ title }}!</h1>

<div id="featuredProduct" *ngIf="featured">
    <img alt="Featured Product" src="/assets/Images/Products/{{featured.image_name}}"/>
    <div id="featuredProductInfo">
        <div id="productInfo">
            <h2>{{featured.title}}</h2>
            <p class="price">${{featured.price}}</p>
            <p class="description">{{featured.short_description}}</p>
        </div>
        <div id="callToAction">
            <a class="order-button" [routerLink]="['/order', featured.id]" title="Order {{featured.title}}">Order Now</a>
        </div>
    </div>
</div>

<div>
  <ul>
    <!-- <li *ngFor="let product of products">{{ product.title }}: ${{product.price}}</li>-->
    <li class="product" *ngFor="let product of products">
      <a [routerLink]="['/order', product.id]" title="Order {{product.title}}">
        <img class="hide-from-desktop" src="/assets/Images/Products/Thumbnails/{{product.image_name}}" alt="Image of {{product.title}}" />
        <div class="productInfo">
          <h3>{{product.title}}</h3>
          <img class="product-image hide-from-mobile" src="/assets/Images/Products/Thumbnails/{{product.image_name}}" alt="Image of {{product.title}}" />
          <p class="description">{{product.short_description}}</p>
          <p class="price hide-from-desktop">${{product.price}}</p>
        </div>
      </a>
      
      <!-- Desktop only -->
      <div class="action hide-from-mobile">
        <p class="price">${{product.price}}</p>
        <a class="order-button" [routerLink]="['/order', product.id]" title="Order {{product.title}}">Order Now</a>
      </div>
    </li>
  </ul>
</div>
